<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel app</title>
</head>

<body>
    </div>
    <!--SPLASH SCREEN-->
    <section class="splash-screen">
        <span></span><span></span>
        <div class="splash-screen__content">
            <h1 class="splash-screen__header">Get ready for your journey!</h1>
            <p class="splash-screen__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ad
                repellendus nihil.</p>
            <a href="" class="splash-screen__button">get started</a>

        </div>
    </section>
    <!--SIGNI IN SCREEN-->
    <section class="sign-in form-section">
        <form action="" class="form">
            <span class="input-container">
                <input type="text" name="" id="sign-in-name" class="inputs" required>
                <label for="sign-in-name">user name</label>
            </span>
            <span class="input-container">
                <input type="password" name="" id="sign-in-pssw" class="inputs" required>
                <label for="sign-in-pssw">password</label>
            </span>
            <input type="submit" value="login" class="sub-btn" id="login-btn">
            <a href="" class="new-user">new user?</a>
        </form>
    </section>

    <!--SIGNI UP SCREEN-->
    <section class="sign-up form-section">
        <form action="" class="form">
            <span class="input-container">
                <input type="text" name="" id="sign-up-name" class="inputs" required>
                <label for="sign-up-name">user name</label>
            </span>
            <span class="input-container">
                <input type="password" name="" id="sign-up-pssw" class="inputs" required>
                <label for="sign-up-pssw">password</label>
            </span>
            <span class="input-container">
                <input type="password" name="" id="confirm-pssw" class="inputs" required>
                <label for="confirm-pssw">confirm password</label>
            </span>
            <input type="submit" value="register" class="sub-btn" id="reg-btn">
        </form>
    </section>

    <!--WELCOME SCREEN-->
    <section class="welcome-screen">
        <h1 class="welcome-screen__greetings">
            hi username,
        </h1>
        <p class="welcome-screen__text">
            start your first trip
        </p>
    </section>

    <!--SAVE A TRIP-->
    <section class="save-trip form-section">
        <form action="" class="form">
            <span class="input-container">
                <input type="text" name="" id="trip-city" class="inputs" required>
                <label for="trip-city">city</label>
            </span>
            <span class="input-container">
                <input type="text" name="" id="trip-country" class="inputs" required>
                <label for="trip-country">coutry</label>
            </span>
            <span class="input-container">
                <input type="date" name="" id="departing-date" class="inputs" required>
                <label for="departing-date">date</label>
            </span>
            <span class="input-container">
                <input type="time" name="" id="departing-time" class="inputs" required>
                <label for="departing-time">time</label>
            </span>
            <input type="submit" value="save" class="sub-btn" id="save-trip-btn">
            <input type="button" class="cancel-trip" value="cancel">
        </form>
    </section>

    <!--TRIP SECTION-->
    <section class="trip">
        <div class="trip__container">
            <p class="trip__weather">
                none to show, click on a trip or start by adding one!
            </p>
        </div>
        <div class="trip__tabbar">
            <div class="your-trips-list-btn circular-icons circular-icons__lodging">
                <i class="fas fa-list"></i>
            </div>
            <div class="your-packing-btn circular-icons circular-icons__packing">
                <i class="fas fa-luggage-cart"></i>
            </div>
            <div class="circular-icons circular-icons__add-trip" id="add-trip">
                <i class="fas fa-plus"></i>
            </div>
            <div class="circular-icons__add-trip--bg"></div>
        </div>
        <a href="" class="humberger-toggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="trip__menu">
            <nav>
                <a href="" class="your-trips-list-btn">
                    <i class="fas fa-list desk-icon"></i>
                    your trips list</a>
                <a href="" class="your-packing-btn">
                    <i class="fas fa-luggage-cart desk-icon"></i>
                    your packing</a>
                <a href="" id='logout-btn'>logout</a>
            </nav>
        </div>

    </section>

    <!--TRIPS LIST-->
    <section class="trips-list">
        <div class="trips-list__container">
            <h1 class="trips-list__header">
                your trips list
            </h1>
            <div class="inner-container">
            </div>
        </div>
        <div class="add-trip">
            <i class="fas fa-plus"></i>
        </div>
    </section>

    <!-- PACKING LIST -->
    <section class="packing move-right">
        <span id="back-arrow"><i class="fas fa-arrow-left"></i></span>
        <div class="packing__container">
        </div>
        <span class="packing__add-item"><i class="fas fa-plus"></i>add item</span>
    </section>

    <!-- ADD ITEM PANEL -->
    <section class="add-item form-section">
        <div class="add-item__container">
            <span class="input-container">
                <input type="text" name="" id="item" class="inputs" required>
                <label for="item">item</label>
            </span>
            <span class="input-container">
                <input type="number" name="" id="item-qnt" class="inputs" required>
                <label for="item-qnt">item quantity</label>
            </span>
            <input type="submit" value="add" class="sub-btn" id="add-item-btn">
        </div>
    </section>

</body>

</html>