/* Color Theme Swatches in Hex */
$Arizona-1-hex: #B01E1E;
$Arizona-2-hex: #34308F;
$Arizona-3-hex: #EBC62A;
$Arizona-4-hex: #E0A52F;
$Arizona-5-hex: #C53F2D;
$Arizona-6-hex: #262626;
$Arizona-7-hex: #FFFFFB;

/* Color Theme Swatches in RGBA */
$Arizona-1-rgba: rgba(175,29,29, .35);
$Arizona-2-rgba: rgba(52,47,142, .35);
$Arizona-3-rgba: rgba(235,198,42, .35);
$Arizona-4-rgba: rgba(223,165,47, .35);
$Arizona-5-rgba: rgba(196,63,45, .35);
$Arizona-6-rgba: rgba(38, 38, 38, .35);
$Arizona-7-rgba: rgba(255, 255, 251, .5);

/* Color Theme Swatches in HSLA */
$Arizona-1-hsla: hsla(0, 70, 40, 1);
$Arizona-2-hsla: hsla(242, 49, 37, 1);
$Arizona-3-hsla: hsla(48, 82, 54, 1);
$Arizona-4-hsla: hsla(40, 74, 53, 1);
$Arizona-5-hsla: hsla(7, 62, 47, 1);